<header>
    <mat-toolbar color="primary">
      <nav>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Todo</span>
          </button>
          <button mat-menu-item>
            <span>Location</span>
          </button>
          <button mat-menu-item>
            <span>Contacts</span>
          </button>
        </mat-menu>
        <span>Angular Material</span>
      </nav>
    </mat-toolbar>
</header>

<main>
  <section class="todo-list" *ngIf="todos.length > 0">
      <mat-card class="mat-card-content" >
        <div class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.completed">

        <mat-checkbox class="mat-checkbox md-24" color="primary" (click)="toggle(todo)">
          <span class="title"> {{todo.title}} </span>
        </mat-checkbox>

        <div class="delete-item">
          <i class="material-icons" (click)="delete(todo)">delete</i>
        </div>

        </div>
        <form class="todo-form" (ngSubmit)="create(); todoForm.reset()" #todoForm="ngForm">
            <input type="text" name="title" [(ngModel)] ="newTodoTitle" placeholder="Что нужно сделать?"
                   required>
            <button type="submit">Добавить</button>
        </form>

      </mat-card>
  </section>
</main>

